@page
@model IndexModel
@{
    ViewData["Title"] = "Storna Internetowa Sklepu z butami";
}

<div class="text-center">
    <h1 class="display-4">Odwiedź nasz sklep</h1>
    <p>PROMOCJA!!! (tylko do niedzieli 20% na wszystko).</p>
</div>

<div class="image-container">
<img src="/images/buty1.jpg" alt="Opis obrazka">
</div>


